*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img, picture, video, iframe, object, embed {
  max-width: 100%;
  display: block;
  height: auto;
}

input, button, select, textarea {
  background-color: transparent;
  border: none;
  font: inherit;
  color: inherit;
}

textarea {
  resize: none;
}

button {
  cursor: pointer;
}

hr {
  border: 0;
  border-top: 1px solid #ccc;
}

.without-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
